<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tab01.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="tab01.js"></script>
</head>
<body>
    
    <ul class="tab01" id="tab01">
        <li><a href="#" class="-on">전체</a></li>
        <li><a href="#" class="">식품</a></li>
        <li><a href="#" class="">리빙</a></li>
        <li><a href="#" class="">패션/뷰티</a></li>
        <li><a href="#" class="">가전/디지털</a></li>
        <li><a href="#" class="">레포츠/문화</a></li>
    </ul>
    <script>
        $(function(){
            tab01("#tab01");
        });
    </script>

</body>
</html>